<div class="container">
  <div class="row">
    <div style="background-color:#7C4DFF; color:white;" class="col-md-3">
      <div class="" role="complementary">
        SOmething for routing meybe routing
      </div>
    </div>
    <div style="background-color:rgb(221, 221, 221);" class="col-md-9" role="main">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">Number of Elements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Insertion Algorithm</td>
            <td>{{configUrl}}</td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
